PORT=4000
NODE_ENV=production
DB_HOST=mysql
DB_PORT=3306
DB_NAME=roadsafe
DB_USER=roadsafe
DB_PASSWORD=your_password_here
SESSION_TTL_HOURS=8
IP_RATE_LIMIT_PER_MIN=300
USER_RATE_LIMIT_PER_MIN=60
TLS_ENABLED=true
TLS_CERT_PATH=./certs/server.crt
TLS_KEY_PATH=./certs/server.key
FRONTEND_ORIGIN=http://localhost:5173
SENSITIVE_REGEX_RULES=ssn::\\b\\d{3}-\\d{2}-\\d{4}\\b,ssn_compact::\\b\\d{9}\\b
SENSITIVE_DICTIONARY_TERMS=social security number,ssn
AES_256_KEY_HEX=your_64_hex_chars_for_aes_256_key_here
INGEST_DROP_ROOT=/var/roadsafe/dropzone
AUDIT_EXPORT_DIR=/var/roadsafe/audit-exports
